<h1 class="text-3xl font-bold text-center my-32">Custom mat snack-bar notifications with Tailwind CSS</h1>

<div class="mb-4 flex justify-center">
    <button class="bg-gray-400 text-white px-4 py-2 rounded-md font-semibold" (click)="openSnackBar('This is an Info message', 100000, 'soft', 'info')">Info SOFT</button>
    <button class="bg-gray-600 text-white px-4 py-2 rounded-md font-semibold mx-4" (click)="openSnackBar('This is an Info message', 1000, 'fill', 'info')">Info FILL</button>
    <button class="bg-gray-400 text-white px-4 py-2 rounded-md ring-4 ring-gray-800 ring-inset font-semibold" (click)="openSnackBar('This is an Info message', 1000, 'outline', 'info')">Info OUTLINE</button>
  </div>
  <div class="mb-4 flex justify-center">
    <button class="bg-green-400 text-white px-4 py-2 rounded-md font-semibold" (click)="openSnackBar('This is a Success message', 1000, 'soft', 'success')">Success SOFT</button>
    <button class="bg-green-600 text-white px-4 py-2 rounded-md font-semibold mx-4" (click)="openSnackBar('This is a Success message', 1000, 'fill', 'success')">Success FILL</button>
    <button class="bg-green-400 text-white px-4 py-2 rounded-md ring-4 ring-green-800 ring-inset font-semibold" (click)="openSnackBar('This is a Success message', 1000, 'outline', 'success')">Success OUTLINE</button>
  </div>
  <div class="mb-4 flex justify-center">
    <button class="bg-red-400 text-white px-4 py-2 rounded-md font-semibold" (click)="openSnackBar('This is an Error message', 1000, 'soft', 'error')">Error SOFT</button>
    <button class="bg-red-600 text-white px-4 py-2 rounded-md font-semibold mx-4" (click)="openSnackBar('This is an Error message', 1000, 'fill', 'error')">Error FILL</button>
    <button class="bg-red-400 text-white px-4 py-2 rounded-md ring-4 ring-red-800 ring-inset font-semibold" (click)="openSnackBar('This is an Error message', 1000, 'outline', 'error')">Error OUTLINE</button>
  </div>
  <div class="flex justify-center">
    <button class="bg-yellow-300 text-white px-4 py-2 rounded-md font-semibold" (click)="openSnackBar('This is an Alert message', 1000, 'soft', 'alert')">Alert SOFT</button>
    <button class="bg-yellow-500 text-white px-4 py-2 rounded-md font-semibold mx-4" (click)="openSnackBar('This is an Alert message', 1000, 'fill', 'alert')">Alert FILL</button>
    <button class="bg-yellow-300 text-white px-4 py-2 rounded-md ring-4 ring-yellow-500 ring-inset font-semibold" (click)="openSnackBar('This is an Alert message', 1000, 'outline', 'alert')">Alert OUTLINE</button>
  </div>